<h1> This is the list of available People </h1>
<%= content_tag :table, role: :datatable, data: { url: people_path(format: :json) } do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Job title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
<% end %>

<!-- Modal -->
<div class="modal fade" id="charCountModal" tabindex="-1" role="dialog" aria-labelledby="charCountModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email unique char count</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Character</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody class="character-count">
            <tr>
              <th scope="row"></th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
