<h1> This is the list of available People </h1>
<%= content_tag :table, role: :datatable, data: { url: people_path(format: :json) } do %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Job title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
<% end %>

<%= render partial: "char_count_modal" %>
